.bg-grey{
    background-color: #121212;
}
.invert{
    filter: invert(1);
}
.p1{
    padding: 6px 3px;
}
.m1{
    padding: 13px;
    margin: .5rem 0;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 13px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #121212; /* Track color */
}

::-webkit-scrollbar-thumb {
    background-color: #242424; /* Thumb color */
    border-radius: 50px; /* Rounded corners on the thumb */
    border: 3px solid #121212; /* Border color around the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777; /* Hover color for the thumb */
}